@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Custom Theme Colors */
  --primary: #33c481; /* Emerald Green */
  --secondary: #2b2d42; /* Midnight Blue */
  --accent: #4ea1d3; /* Sky Blue */
  --bg-light: #f5f7fa; /* Soft Gray */
  --bg-dark: #1a1c2c;
  --text-dark: #333333;
  --text-light: #ffffff;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --bg-light: #1a1c2c;
    --text-dark: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
